.poster {
  width: 100%;
  height: 400px;
  width: 270px;
}
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 305px;
  height: 550px;
}
.button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 40px 40px rgba(0, 0, 0, 0.12);
  width: 200px;
  height: 40px;
  background: rgba(44, 44, 44, 0.3);
  box-shadow: 0px 16px 16px 4px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
}
.titlebook {
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
